body{
    background-image: url('../img/education-2.jpg');
    background-repeat: none;
    background-size: cover;
}

.header{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.515);
    gap: 10px;
}

.navbar{
    width: 130px;
    height: 50px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    transition: all ease-in 100ms;
}

.navbar:hover{
    background-color: #E0F0F8;
    color: #2F9FF8;
    width: 130px;
    height: 50px;
}


.main{
    padding: 50px 20px;
    height: 60vh;
    width: 100%;
}

.label{
    width: 1400px;
    height: 40px;
}

.info-after{
    display: none;
}

.label:hover .info-before{
    display: none;
}

.label:hover .info-after{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: orange;
}

.label-2{
    width: 1400px;
    height: 100px;
}

.info-after-2{
    display: none;
}

.label-2:hover .info-before-2{
    display: none;
}

.label-2:hover .info-after-2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: orange;
    background-color: beige;
    border-radius: 8px;
}

.image-container{
    margin-bottom: 30px;
}

.image-container img{
    width: 400px;
}