body{
    background-image: url('../img/sunset-profile-background.jpg');

}

.header{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.515);
    gap: 10px;
}

.header a{
    color: white;
    font-size: 20px;
}

.header-link{
    width: 130px;
    height: 50px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    transition: all ease-in 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link:hover{
    background-color: #E0F0F8;
    color: #2F9FF8;
    width: 130px;
    height: 50px;
}


.main{
    padding: 50px 20px;
    height: 60vh;
    width: 100%;
    color: black;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: start;
}

.label{
    background-color: black;
    width: 1400px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.info-after{
    display: none;
}

.label:hover .info-before{
    display: none;
}

.label:hover .info-after{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: orange;
}

.label-2{
    background-color: black;
    width: 1400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    padding: 20px;
}

.info-after-2{
    display: none;
}

.label-2:hover .info-before-2{
    display: none;
}

.label-2:hover .info-after-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: orange;
}



.image-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.image-container img{
    width: 400px;
    border-radius: 8px;
}