body{
    background-image: url('../img/sunset-profile-background.jpg');
}

.header{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.515);
    gap: 10px;
}

.navbar{
    width: 130px;
    height: 50px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    transition: all ease-in 100ms;
}

.navbar:hover{
    background-color: #E0F0F8;
    color: #2F9FF8;
    width: 130px;
    height: 50px;
}

.img-class img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-detail{
    width: 330px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    justify-content: center;
}

.profile-detail img{
    width: 30px;
    height: 30px;
}