.align-justify-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.color-black{
    color: black;
}

.text-size-40px{
    font-size: 40px;
}

.font-550{
    font-weight: 550;
}

.line{
    line-height: 1.42857143;
}